$primary: #ed8c72;
$primary-dark: #da846c;
$secondary: #2988BC;
$light: #F4EADE;
$dark: #2f496e;

$transition-speed: 0.4s;

@import "./variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "./bootswatch";

body,
html,
#root {
  height: 100%;
  min-height: 100vh;
  background: $dark;
}

a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 900px;
}

.pointer {
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.bold {
  font-weight: bold;
}

.invisible {
  opacity: 0;
}

////////
// Navbar
////////

.navbar-item {
  padding: 1rem;
  transition: background-color $transition-speed;
}

.navbar-icon {
  transition: color $transition-speed;

  svg {
    height: 20px;
    width: 20px;
  }
}

.navbar-arrow {
  transition: transform $transition-speed;
}

.navbar-item:hover {
  background-color: $primary-dark;

  .navbar-icon {
    color: $secondary
  }
}

.navbar-active {
  @extend .navbar-item:hover;

  .navbar-arrow {
    transform: rotate(90deg);
  }
}

.navbar-brand {
  text-transform: none;
}